@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@layer base{
  .powderGrey{
    color: #8F92A6;
  }

  .darkGrey{
    color: #383840;
  }

  .mediumGrey{
    color: #656573;
  }

  .lightGrey{
    color: #D1D0D9;
  }

  .offWhite{
    color: #F0F0F2;
  }

  .darkBlue{
    color: #2A3E59;
  }

  .lightBlue{
    color: #54728C;
  }

  .bg-lightBlue{
    background-color: #54728C;
  }
  
  .bg-darkBlue{
    background-color: #2A3E59;
  }

  .bg-powderGrey{
    background-color: #8F92A6;
  }

  .bg-darkGrey{
    background-color: #383840;
  }

  .bg-mediumGrey{
    background-color: #656573;
  }

  .bg-lightGrey{
    background-color: #EFEDF7;
  }

  .bg-offWhite{
    background-color: #F0F0F2;
  }



 
.shapedividers_com-3195{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-3195::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.62" preserveAspectRatio="none"><path d="M35.278.092S8.238.267 0 3.62V.092z" opacity=".2" fill="%23f0f0f2"/><path d="M35.278.092S8.238.246 0 3.194V.092z" opacity=".2" fill="%23f0f0f2"/><path d="M35.278.092S8.238.223 0 2.738V.092zM35.278.092H0V0h35.278z" fill="%23f0f0f2"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-3195::before{
  background-size: 100% calc(2vw + 90px);
  }
  }
   
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #656573;
  background-color: #F0F0F2;
  border-radius: 10px;
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #F0F0F2;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
#globalLoader > img {
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}




.shapedividers_com-2059{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-2059::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 240px;
  background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23383840"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-2059::before{
  background-size: 100% calc(2vw + 240px);
  }
  }
   




  .shapedividers_com-7110{
    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-7110::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 240px;
    background-position: 50% 0%; 
    transform: rotateY(180deg); background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f0f2"/></svg>'); 
    }
    
    @media (min-width:2100px){
    .shapedividers_com-7110::before{
    background-size: 100% calc(2vw + 240px);
    }
    }
     
  


  
   
   