ul li.relative {
    display: inline-block;
  }
  
  ul li span.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #383840;
    transition: width 0.3s ease;
  }
  
  ul li:hover span.underline {
    width: 100%;
  }